.vscode/settings.json
build-jar/Picross.jar
.vs/JAPLab1.2/v17/.wsuo
.vs/JAPLab1.2/FileContentIndex/815be832-9cd5-4ca1-b6bc-a8af6cd6a7cf.vsidx
.vs/JAPLab1.2/FileContentIndex/read.lock
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
